doctype html
html
    head
        title Admin
        link(
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
        )
        link(
        rel="stylesheet"
        href="/css/mainCss.css"
        )
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous")
        script(src='/js/clientJs.js')
    body
        if(authenticatedAdmin)
            nav(class="navbar navbar-expand-sm navbar-light bg-info")
                div(class="collapse navbar-collapse" id="navbarSupportedContent")
                    ul(class="navbar-nav mr-auto")
                        li(class="nav-item"): a(
                        class="nav-link"
                        href="#"
                        data-toggle="modal"
                        data-target="#createModal"
                        style="font-size: 30px; font-weight: bold;") Opret bruger
                    ul(class="navbar-nav mr-auto")
                        li(class="nav-item"): a(
                        class="nav-link"
                        href="/"
                        style="font-size: 30px; font-weight: bold; margin-left: 32em;") Tilbage
            // create user modal
            #createModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel',
            aria-hidden='true')
                .modal-dialog(role='document')
                    .modal-content
                        .modal-header
                            h5#exampleModalLabel.modal-title Ny bruger
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                                span(aria-hidden='true') ×
                        .modal-body
                            form
                                .form-group
                                    label.form-control-label(for='fornavn') Fornavn:
                                    input#fornavn.form-control(type='text')
                                .form-group
                                    label.form-control-label(for='efternavn') Efternavn:
                                    input#efternavn.form-control(type='text')
                                .form-group
                                    label.form-control-label(for='initialer') Initialer:
                                    input#initialer.form-control(type='text')
                                .form-group
                                    label.form-control-label(for='email') Email:
                                    input#email.form-control(type='email')
                                .form-group
                                    label.form-control-label(for='password') Adgangskode:
                                    input#password.form-control(type='text')
                        .modal-footer
                            button.btn.btn-secondary(type='button', data-dismiss='modal') Luk
                            button.btn.btn-primary(type='button' onclick="createUser()") Opret
            br

            if errors.length == 0
                ul(class="user-list")
                    each user in data.users
                        li(class="nodecoration" onclick="findUser(this);")
                            a.list-group-item.list-group-item-action(href="#" data-toggle="modal"
                            data-target="#editModal" data-user=user) #{user.first}
                                |   #{user.last} (#{user.initials})
                        br
                #editModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel',
                aria-hidden='true')
                    .modal-dialog(role='document')
                        .modal-content
                            .modal-header
                                h5#exampleModalLabel.modal-title Opdater/slet bruger
                                button.close(type='button', data-dismiss='modal', aria-label='Close')
                                    span(aria-hidden='true') ×
                            .modal-body
                                form
                                    input#id(hidden)
                                    .form-group
                                        label.form-control-label(for='fornavn') Fornavn:
                                        input#first.form-control(type='text')
                                    .form-group
                                        label.form-control-label(for='efternavn') Efternavn:
                                        input#last.form-control(type='text')
                                    .form-group
                                        label.form-control-label(for='initialer') Initialer:
                                        input#initials.form-control(type='text')
                                    .form-group
                                        label.form-control-label(for='email') Email:
                                        input#email.form-control(type='email')
                                    .form-group
                                        label.form-control-label(for='password') Adgangskode:
                                        input#password.form-control(type='text')
                            .modal-footer
                                button.btn.btn-primary(type='button' onclick='updateUser()') Opdater
                                button.btn.btn-secondary(type='button' id="btnDelete" onclick='deleteUser()') Slet
                                button.btn.btn-secondary(type='button', data-dismiss='modal') Annuller
        else
        div(class="col-lg-1 col-centered input")
            h1 Admin
            form(action="/admin/login", method="POST" id="adminLogin")
                fieldset
                    p
                        label Brugernavn
                        input(name="adminUsername", type="text")
                    p
                        label Adgangskode
                        input(name="adminPassword", type="password")
            p(class="d-flex flex-row")
                button(type="submit" class="btn btn-primary" form="adminLogin") Log Ind
                a(href="/")
                    button(class="btn btn-secondary" style="margin-left: 2em") Tilbage
