extends layout.pug
block body
    if(authenticated)
        form(action="/editSnyt", method="POST")
            div(class="row")
                div(class="col-2")
                    fieldset
                    ul(type="none")
                        li
                            a(href="/")
                                button(type="button" class="btn btn-primary") Gå tilbage
                        li
                            label e-Dok
                                input(type="text" name="snyt[edok]" value=snyt.edok)
                        li
                        label Dato
                            input(type="date" name="snyt[created]" value=value=snyt.created.toLocaleDateString())
                            //input(type="text" name="snyt[created]" value=snyt[0].created)
                        li
                        label Initialer
                            input(type="text" name="snyt[user]", value=snyt.user)
                        li
                        label Kategori
                            select(name="snyt[category]")
                                option(value="ac") AC
                                option(value="Logistik") Logistik
                                option(value="Tovholder") Tovholder
                                option(value="Hygiejne") Hygiejne
                                option(value="Levering") Levering
                                option(value="Reklamation") Reklamation
                                option(value="IT") IT
                                option(value="Klinisk Forsøg") Klinisk Forsøg
                                option(value="Produktion") Produktion
                        li
                            button(type="submit" class="btn btn-primary") OK

                        input(type="text" name="snyt[_id]" value=snyt._id hidden)

                div(class="col-10")
                    ul(type="none")
                        li
                            input(type="text" name="snyt[subject]" value=snyt.subject)
                        li
                            textarea(rows="20" cols="150" name="snyt[text]").form-control=snyt.text

