extends layout.pug
block body
    if(authenticated)
        form(action="/editSnyt", method="POST")
            div(class="row")
                div(class="col-2")
                    fieldset
                    ul(type="none")
                        li
                            button(type="button" class="btn btn-primary" onclicl="goBack();") Gå tilbage
                        li
                            label e-Dok
                                input(type="text" name="snyt[edok]" value=data.edok)
                        li
                        label Dato
                            input(type="date" name="snyt[created]" value=data.createdDate)
                        li
                        label Initialer
                            input(type="text" name="snyt[user]", readonly value=me.initials)
                        li
                        label Kategori
                        div(class="cats")
                            select(name="snyt[category]")
                                option(value="AC") AC
                                option(value="Logistik") Logistik
                                option(value="Tovholder") Tovholder
                                option(value="Hygiejne") Hygiejne
                                option(value="Levering") Levering
                                option(value="Reklamation") Reklamation
                                option(value="IT") IT
                                option(value="Klinisk Forsøg") Klinisk Forsøg
                                option(value="Produktion") Produktion
                        li
                            button(type="submit" class="btn btn-primary") OK

                        input(type="text" name="snyt[_id]" value=data._id hidden)

                div(class="col-10")
                    ul(type="none")
                        li
                            input(type="text" name="snyt[subject]" value=data.subject style="width: 1073px;")
                        li
                            textarea(rows="20" cols="150" name="snyt[text]").form-control=data.text

    script.
        $(document).ready(function () {
            $('option[value="#{data.category}"]').prop("selected", true);
        })