extends layout.pug
block body
    if(authenticated)
        if errors && errors.length == 0
            div(style="padding:0em 2em 0em 2em")
                table(class="table")
                    thead
                        tr
                            th(onclick="sortTable(0)" style="cursor:pointer") Emne
                            th(onclick="sortTable(1)" style="cursor:pointer") Kategori
                            th(onclick="sortTable(2)" style="cursor:pointer") Dato
                            th(onclick="sortTable(3)" style="cursor:pointer") Initialer
                            th(onclick="sortTable(4)" style="cursor:pointer") Læst
                    tbody#snytOversigt
                        if data
                            each snyt in data.snyt
                                tr.clickableRow(data-href=snyt._id onclick='gotoSnyt(this)')
                                    td #{snyt.subject}
                                    td #{snyt.category}
                                    td #{snyt.created.toLocaleDateString()}
                                    td #{snyt.user}
                                    if ( snyt.readBy.indexOf(me._id) >= 0 )
                                        td  X
                                    else
                                        td

    else
        //Hvis man ikke er logget ind kommer det her:
    div(class="col-lg-1 col-centered input")
        h1 SNYT++
        form(action="/", method="POST" id="mainLogin")
            fieldset
                p
                    label Email
                    input(name="user[email]", type="text", value=signupEmail)
                p
                    label Password
                    input(name="user[password]", type="password")
        p(class="d-flex flex-row")
            button(type="submit" class="btn btn-primary" form="mainLogin") Log Ind
            a(href="/admin")
                button(class="btn btn-secondary" style="margin-left: 2em") Admin
