extends layout.pug
block body
    if(authenticated)
        form(action="/snyt/"+snyt._id, method="POST")
            div(class="row")
                div(class="col-2")
                    fieldset
                    ul(type="none")
                        li
                            a(href="/")
                                button(type="button" class="btn btn-primary") Gå tilbage
                        li
                        a(name="snyt[edok]" href=snyt.edok) e-Dok
                        li
                        label Dato
                            input(type="text" name="snyt[created]" value=snyt.created.toLocaleDateString() disabled=true)
                        li
                        label Initialer
                            input(type="text" name="snyt[user]", value=snyt.user disabled = true)
                        li
                        label Kategori
                            input(type="text" name="snyt[category]" value=snyt.category disabled = true)
                        li
                        a(href="/editsnyt/" + snyt._id)
                            button(type="button" class="btn btn-primary") Rediger SNYT
                        li
                        br
                        a(href="/updateSnyt/" + snyt._id)
                            button(type="button" class="btn btn-primary") Update SNYT

                        if (userHasNotRead)
                            li
                            br
                            button(type="submit" class="btn btn-primary") Kvitter
                        else
                            li
                            label Du har allerede læsekvitteret
                                button(type="submit" class="btn btn-primary") Kvitter

                        if(snytHasSubSnyt)
                            each sub in subSnytsInSnyt
                                li=sub.text

                div(class="col-10")
                    ul(type="none")
                        li
                            input(type="text" name="snyt[subject]" value=snyt.subject disabled = true)
                        li
                            textarea(rows="20" cols="150" disabled = true name="snyt[text]").form-control=snyt.text

