extends layout.pug
block body
    if(authenticated)
        if errors.length == 0
            form(action="/snyt/" + data.snyt._id, method="POST")
                div(class="row")
                    div(class="col-2")
                        fieldset
                        ul(type="none")
                            li
                            a(name="snyt[edok]" href=data.snyt.edok) e-Dok
                            li
                            label Dato
                                input(type="text" name="snyt[created]" value=data.snyt.created.toLocaleDateString() disabled=true)
                            li
                            label Initialer
                                input(type="text" name="snyt[user]", value=data.snyt.user disabled = true)
                            li
                            label Kategori
                                input(type="text" name="snyt[category]" value=data.snyt.category disabled = true)

                            if(me.initials == data.snyt.user)
                                li
                                a(href="/editsnyt/" + data.snyt._id)
                                    button(type="button" class="btn btn-primary") Rediger SNYT
                                li
                                br
                                a(href="/updateSnyt/" + data.snyt._id)
                                    button(type="button" class="btn btn-primary") Update SNYT
                            br
                            br
                            li
                                button(type="button" class="btn btn-primary" onclick="goBack();") Gå tilbage
                            br
                            if (data.notUserRead)
                                li
                                br
                                button(type="submit" class="btn btn-primary") Kvitter
                            else
                                li
                                label Du har allerede læsekvitteret

                    div(class="col-10")
                        ul(type="none")
                            li
                                label Emne
                                    input(type="text" name="snyt[subject]" value=data.snyt.subject disabled = true style="width: 1073px;")
                            if(data.hasSubSnyt)
                                li
                                    textarea(rows="15" cols="150" disabled = true name="snyt[text]").form-control=data.snyt.text
                            else
                                li
                                    textarea(rows="20" cols="150" disabled = true name="snyt[text]").form-control=data.snyt.text
                            if(data.snyt.pictures.length > 0)
                                li
                                    each pic in data.snyt.pictures
                                        img(src="/uploads/" + pic style="max-width: 15em" data-toggle="modal" data-target="#picModal-" + pic)
                                        //TODO crazy grimt (både kode og visuelt)
                                        div(class="modal" tabindex="-1" role="dialog" id="picModal-" + pic)
                                            div(class="modal-dialog full-dialog" role="document")
                                                div(class="modal-content full-content")
                                                    div(class="modal-header")
                                                        h5(class="modal-title")
                                                        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                                                            span(aria-hidden="true") &times;
                                                    div(class="modal-body")
                                                        img(src="/uploads/" + pic style="max-width: 50em")


                                                    div(class="modal-footer")
                                                        button(type="button" class="btn btn-secondary" data-dismiss="modal") Luk
            if(data.hasSubSnyt)
                div(class="row")
                    div(class="col-5")
                        ul(type="none")
                    div(class="col-7")
                        h6 Der er #{data.subSnytsInSnyt.length} opdateringer til denne SNYT. Den øverste er den nyeste
                - for(var i = data.subSnytsInSnyt.length - 1; i >= 0; i--)
                    div(class="row")
                        div(class="col-2")
                            ul(type="none")
                                li
                                    label Dato
                                        input(type="text" name="snyt[created]" value=data.subSnytsInSnyt[i].created.toLocaleDateString() disabled=true)
                                    li
                                    label Initialer
                                        input(type="text" name="snyt[user]", value=data.subSnytsInSnyt[i].user disabled = true)

                        div(class="col-10")
                            ul(type="none")
                                li
                                    textarea(rows="10" cols="150" disabled = true name="snyt[text]").form-control=data.subSnytsInSnyt[i].text
